.profile__name {
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: #FFFFFF;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 400px;
}

@media (max-width: 1200px)
{
  .profile__name {
    max-width: 300px;
  }
}

@media (max-width: 425px)
{
  .profile__name {
    font-size: 27px;
    line-height: 33px;
    text-align: center;
    max-width: 200px;
  }
}
