.popup__input {
  width: calc(100% - 72px);
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  margin-left: 36px;
  padding: 0;
  box-sizing: border-box;
  margin-bottom: 30px;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

@media (max-width: 500px)
{
  .popup__name {
    width: calc(100% - 44px);
    margin: 0 auto;
  }
}
