.elements {
  padding-top: 46px;
  width: calc(100% - 400px);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 17px;
}

@media (max-width: 1100px)
{
  .elements {
    width: calc(100% - 200px);
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

@media (max-width: 720px)
{
  .elements {
    width: calc(100% - 100px);
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
}

@media (max-width: 425px)
{
  .elements {
    width: calc(100% - 38px);
    gap: 20px;
  }
}
