.profile__description {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  margin: 16px 0 0;
}

@media (max-width: 1100px)
{
  .profile__description {
    justify-self: center;
  }
}

@media (max-width: 425px)
{
  .profile__description {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
  }
}
