.popup__close-button {
  position: absolute;
  top: 26%;
  left: 61%;
  background-image: url(../../../images/Close_Icon.png);
  background-position: center;
  background-size: 100% 100%;
  background-color: black;
  width: 60px;
  height: 60px;
  border: 0;
  opacity: 1;
}

.popup__close-button:hover {
  opacity: .6;
  cursor: pointer;
}

@media (max-width: 1500px)
{
  .popup__close-button {
    left: 67%;
  }
}

@media (max-width: 950px)
{
  .popup__close-button {
    left: 72%;
  }
}

@media (max-width: 750px)
{
  .popup__close-button {
    left: 78%;
  }
}

@media (max-width: 600px)
{
  .popup__close-button {
    left: 85%;
  }
}

@media (max-width: 500px)
{
  .popup__close-button {
    width: 36px;
    height: 36px;
    top: 35%;
    left: 78%;
  }
}

@media (max-width: 400px)
{
  .popup__close-button {
    left: 84%;
  }
}
