.popup__close-button_image {
  top: -13%;
}

@media (max-width: 750px)
{
  .popup__close-button_image {
    top: -15%;
  }
}

@media (max-width: 600px)
{
  .popup__close-button_image {
    top: -17%;
  }
}

@media (max-width: 400px)
{
  .popup__close-button_image {
    top: -20%;
  }
}
