.popup__text-button {
  margin: 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
}


@media (max-width: 435px)
{
  .popup__text-button {
    font-size: 14px;
    line-height: 17px;
  }
}
