.element__like {
  margin: 30px 30px 30px auto;
  background-image: url(../../../images/Vector.svg);
  background-color: white;
  width: 22px;
  height: 19px;
  border: 0;
  cursor: pointer;
  padding: 0;
  opacity: 1;
  transition: opacity 0.5s linear;
}

.element__like:hover {
  opacity: .5;
}
